@using Microsoft.AspNetCore.Components

<h1>Counter</h1>

<p>Current count: <span>@CurrentCount</span></p>

<span class="btn-block">
    <button class="btn btn-primary" @onclick="IncrementCount">+</button>
    <button class="btn btn-primary" @onclick="DecreaseCount">-</button>
</span>

@code {
    [Parameter] public int CurrentCount { get; set; } = 0;

    private void IncrementCount()
    {
        CurrentCount++;
    }

    private void DecreaseCount()
    {
        CurrentCount--;
    }
}
